.cache/
var/
backup/
elpa/
transient/
request/
recentf
.lsp-session-*
.org-id-locations
bookmarks
emojis/
eshell/
forge-database.sqlite
profile-dotemacs.el
projectile-bookmarks.eld
projectile.cache
smex-items
synonyms.el
tramp
url/
configuration.el
/org-roam.db
/.dap-breakpoints
/auto-save-list/
.yas-compiled-snippets.el
eln-cache/
eaf/
straight/
quelpa/
site-lisp/
org-notify-log.el
*.log
history
multisession/