.header {
  height: 7%;
  max-height: 65px;
  border: dotted 3px;
  border-radius: 10px;
  border-color: #808080;
  background: white;
  margin: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 20px;
}

.toggle-index {
  background-color: #c1e1c1;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  border: none;
  border-radius: 5px;
  padding: 7px 14px;
}

.index {
  text-align: justify;
  min-width: 30%;
  max-width: 30%;
  margin: 10px 10px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  display: inline-block;
  border: dotted 3px;
  border-radius: 10px;
  border-color: #808080;
  background: white;
  padding: 10px 15px;
}
